<?xml version="1.0"?>


<launch>
	<!-- Launch Gazebo -->
	<include file="$(find franka_gazebo)/launch/franka_joint_trajectory_controller.launch" />

	<!-- moveit launch file -->
	<include file="$(find franka_moveit_config)/launch/moveit_planning_execution.launch" />
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	<param name="/use_gui" value="false"/>
	
	<rosparam
		param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
	</node>
</launch>